---
import Contactform from "@components/contactform.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<head>
  <meta name="description" content="Have a good experience with our electricians? Or maybe you have some notes for improvement? Give us a chance to prove ourselves as one of the best electricians in terre haute. Whether we did a complicated home rewiring job for simply did a service upgrade, let us know how we did.">
</head>
<Layout title="Leave A Review">
    <Container>
      <Sectionhead>
        <Fragment slot="title">★★ Leave a Review ★★</Fragment>
        <Fragment slot="desc">We're glad you chose Quality. Let us know how we did so we can keep what works and improve what doesn't.</Fragment>
      </Sectionhead>
  
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">

<Contactform />
</div>