---
import Link from "./ui/link.astro";
import { Image } from "astro:assets";
import myImage from "../assets/QE 2 Years.png";
import { Icon } from "astro-icon/components";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-3xl flex flex-col items-center text-center shadow-md">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>Continuing Quality <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg></h2>
    <h3 class="text-slate-300 flex text-3xl pt-4 md:text-5xl tracking-tight">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>Free Estimates<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg></h2>
  </h3>
  <h3 class="text-slate-400 pt-4 flex text-2xl md:text-4xl tracking-tight">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>Fast & Courteous<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg></h2>
  </h3>
  <Image loading="lazy" src={myImage} alt="IBEW Local 725" width={900} class="pt-8" />
  <p class="text-slate-400 mt-4 text-lg md:text-xl pb-8">
    We hope we've made a good impression and that you'll consider us for your next job. 
  </p>
  
  <div class="flex mt-5">
    <Link href="tel:8128728376" style="inverted" class="cta uppercase text-2xl font-serif font-semibold hover:text-white">Call Us</Link>
  </div>
</div>

<style>
  .cta {
    background-color: #ffc107;
  }
</style>