---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "New Construction",
    description:
      "Building a new home? Rough In right with our skilled electricians to avoid headaches and costly fixes down the road.",
    icon: "mdi:house-flash",
  },
  {
    title: "Residential Rewiring",
    description:
      "We are happy to help local homeowners bring their homes up to code to ensure your family stays safe & comfortable.",
    icon: "mdi:power-socket-us",
  },
  {
    title: "Fixture Repair & Install",
    description:
      "You picked out the perfect lights to completement your house - call a pro to install or repair so you can enjoy them.",
    icon: "mdi:ceiling-light",
  },
  {
    title: "Service Upgrades",
    description:
      "Don't touch that breaker box! If you need to upgrade your power, we've got the knowledge and tools to get it done right.",
    icon: "mdi:amp",
  },
  {
    title: "Electrical Inspections",
    description:
      "Improper grounding, outdated panels, and outlet-overloading can be a waiting disaster - let us check your home for these and other issues.",
    icon: "mdi:clipboard-check-outline",
  },
  {
    title: "Exterior & Landscape",
    description:
      "We're handy outside, too! Call us and we'll make your exterior twinkle and your back patio come to life.",
    icon: "mdi:carriage-light",
  },
  {
    title: "Generator Installation",
    description:
      "We handle generator installation so backup power is ready when you need it. Haven't bought one yet? We can connect you with trusted brands.",
    icon: "mdi:generator-portable",
  },
  {
    title: "FREE Estimates",
    description:
      "Pay for electrical work, not for guesswork. Free estimates and excellent customer service just makes sense.",
    icon: "mdi:money-off",
  },
  {
    title: "Peace of Mind",
    description:
      "The most important thing we can offer is peace of mind that your comfort and safety is in the hands of experts who care.",
    icon: "mdi:emoticon-happy-outline",
  },
];
---

<div class="mt-16 md:mt-0 pt-8 px-5">
  <h2 class="text-4xl text-amber-500 lg:text-5xl font-bold lg:tracking-tight font-serif flex items-center gap-3">
    One Call - We Do It All <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0L1.75 6v12L12 24l10.25-6V6zm-1.775 18l1.08-4.657l-2.428-2.397L13.79 6l-1.082 4.665l2.414 2.384z"/></svg>
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We are proud to be your hometown electricians. Anyone could have your business now, but we want your business for life. The difference between work and workmanship is care, and we demonstrate that with every project. Big or small, we'll handle it all - so <a href="tel:8128728375" target="_blank">call us</a>!
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 pb-8 px-5">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-amber-500 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-600 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
