---
import { Image } from "astro:assets";
import logoImage from "@assets/Electric.png";
---

<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl space-y-8 px-4 py-8 sm:px-6 lg:space-y-16 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="logo">
        <Image loading="lazy" src={logoImage} class="w-40 drop-shadow-sm" alt="Quality Electric of Indiana LLC">
      </div>

      <ul class="mt-8 flex justify-start gap-6 sm:mt-0 sm:justify-end">
        <li>
          <a
            href="https://m.facebook.com/people/Quality-Electric-of-Indiana-LLC/61565710887751/"
            rel="noreferrer"
            target="_blank"
            class="text-amber-400 transition hover:opacity-75"
          >
            <span class="sr-only">Facebook</span>

            <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </li>

        <li>
          <a
            href="https://www.instagram.com/qualityelectric.indiana/"
            rel="noreferrer"
            target="_blank"
            class="text-amber-500 transition hover:opacity-75"
          >
            <span class="sr-only">Instagram</span>

            <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </li>

        <li>
          <a
            href="https://www.tiktok.com/@quality.electric.indiana"
            rel="noreferrer"
            target="_blank"
            class="text-amber-600 transition hover:opacity-75"
          >
            <span class="sr-only">TikTok</span>
            <svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2a10 10 0 1 0 10 10A10.01 10.01 0 0 0 12 2m5.939 7.713v.646a.37.37 0 0 1-.38.37a5.36 5.36 0 0 1-2.903-1.108v4.728a3.94 3.94 0 0 1-1.18 2.81a4 4 0 0 1-2.87 1.17a4.1 4.1 0 0 1-2.862-1.17a3.98 3.98 0 0 1-1.026-3.805c.159-.642.48-1.232.933-1.713a3.58 3.58 0 0 1 2.79-1.313h.82v1.703a.348.348 0 0 1-.39.348a1.918 1.918 0 0 0-1.23 3.631c.27.155.572.246.882.267c.24.01.48-.02.708-.092a1.93 1.93 0 0 0 1.313-1.816V5.754a.36.36 0 0 1 .359-.36h1.415a.36.36 0 0 1 .359.34a3.3 3.3 0 0 0 1.282 2.245a3.25 3.25 0 0 0 1.641.636a.37.37 0 0 1 .338.35z"/></svg>

          </a>
        </li>
      </ul>
    </div>

              <div class="mt-16 lg:mt-20">
                  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                      <div class="rounded-lg overflow-hidden">
                          <iframe
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3078.3412139004813!2d-87.36173992336974!3d39.50678797160035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886d6f0d0c4b7d15%3A0x6cc6999bde4fc2d3!2s3601%20N%20Fruitridge%20Ave%2C%20Terre%20Haute%2C%20IN%2047805!5e0!3m2!1sen!2sus!4v1738680092122!5m2!1sen!2sus"
                              width="100%" height="480" style="border:0;" allowfullscreen="" loading="lazy" title="Embedded Map - Quality Electric of Indiana LLC location on 3601 N. Fruitridge Avenue"></iframe>
                      </div>
                      <div>
                          <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                              <div class="px-6 py-4" id="contact">
                                  <h3 class="text-lg font-medium text-gray-900 font-serif underline">Our Address</h3>
                                  <p class="mt-1 text-gray-600">3601 N. Fruitridge Avenue, Terre Haute, IN 47805</p>
                                  <p class="mt-1 text-gray-500 font-serif tracking-tighter font-semibold"><a href="https://www.qualityroofingofindiana.com" target="_blank">Quality Roofing of Indiana LLC</a> | <a href="https://www.southardhomesllc.com" target="_blank">Southard Homes LLC</a></p>
                              </div>
                              <div class="border-t border-gray-200 px-6 py-4">
                                  <h3 class="text-lg font-medium text-gray-900 font-serif underline">Office Hours</h3>
                                  <p class="mt-1 text-gray-600">Monday - Friday: 8am - 4pm</p>
                              </div>
                              <div class="border-t border-gray-200 px-6 py-4">
                                  <h3 class="text-lg font-medium text-gray-900 font-serif underline">Contact</h3>
                                  <p class="mt-1 text-gray-600">Phone: <a href="tel:812-872-8375" target="_blank" aria-label="call Quality Electric" class="font-bold text-amber-500">812-872-8376</a>
                                  <!-- <p class="mt-1 text-gray-600">Email: doug@qualityelectricllc.net</p> -->
                                  <!-- <p class="mt-1 text-gray-600">Phone: <a href="tel: 8128728376" target="_blank">812-872-8376</a></p><span class="text-red-800">24/7 Emergency Service</span> -->
                                  <p class="mt-1 text-gray-600">If you smell smoke or see flames, <strong>call 911</strong>.
                              </div>
                              <div class="border-t border-gray-200 px-6 py-4">
                                <h3 class="text-lg font-medium text-gray-900 font-serif underline">Local Resources</h3>
                                <a href="https://www.ibew725.org/" target="_blank" class="mt-1 text-amber-500" aria-label="Link - International Brotherhood of Electrical Workers Local 725">IBEW Local 725</a>
                                <a href="https://thejatc.org/" target="_blank" class="mt-1 text-amber-500 block" aria-label="Link - NJATC">Terre Haute Electrical JATC</a>
                                <a href="https://www.terrehaute.in.gov/departments/fire-department/safety/document.2009-04-01.5784199130" target="_blank" class="mt-1 text-amber-500 block" aria-label="Link - Terre Haute Fire Department">THFD Safety Tips</a>
                                <a href="https://www.ibew.org/IBEW-COE" target="_blank" class="mt-1 text-amber-500 block" aria-label="Link - IBEW Code of Excellence">IBEW Code of Excellence</a>
                                <a href="https://www.wicaa.org/energy-assistance/" target="_blank" class="mt-1 text-amber-500 block" aria-label="Link - Financial Assistance for Energy">WICAA - Energy Assistance</a>
                                <a href="https://www.in.gov/ihcda/homeowners-and-renters/low-income-home-energy-assistance-program-liheap/" target="_blank" class="mt-1 text-amber-500 block" aria-label="Link - Financial Assistance for Energy">IHCDA - Energy Assistance Program (EAP)</a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<section title="copyright">
    <p class="text-center text-sm text-slate-500 flex">
      Copyright © {new Date().getFullYear()} Quality Electric of Indiana LLC. <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M11 15H6l7-14v8h5l-7 14z"/></svg> All rights reserved.
    </p></p>
  </section>
  </div>
</footer>
