<h2 class="font-bold text-3xl text-amber-600 pt-16 text-center font-serif">
    Setting the Standard for Quality
  </h2>
  <p class="text-lg leading-relaxed text-slate-600 text-center">
    The promise is on the package - when you call a Quality company, you can expect a high standard of workmanship, courtesy, and knowledge.
  </p>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-3 p-4 place-items-center py-16">
    <img class="rounded-lg" src="https://1drv.ms/i/s!AoM7TSrp7nnmljhl6AUhfnY_ATPL?embed=1&width=660">
    <img class="rounded-lg" src="https://1drv.ms/i/s!AoM7TSrp7nnmljvJT2h94UKzBhn1?embed=1&height=660">
    <img class="rounded-lg" src="https://1drv.ms/i/s!AoM7TSrp7nnmljl6OWO-D5nwa04Y?embed=1&width=660">
    <img class="rounded-lg" src="https://1drv.ms/i/s!AoM7TSrp7nnmljqCDw5NJxcBvXZK?embed=1&width=660">
    <img class="rounded-lg" src="https://1drv.ms/i/s!AoM7TSrp7nnmhGKKEPiPsrQlxAPj?embed=1&width=660">
    <img class="rounded-lg" src="https://1drv.ms/i/s!AoM7TSrp7nnmhHwnZNSvgCtzV_Q-?embed=1&width=660">
</div>