---
import Image from "astro/components/Image.astro";
import dougImage from "@assets/Doug2.jpg";
---
<section class="bg-gray-100">
    <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
            <div class="max-w-lg">
                <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl font-serif">Meet Doug Wilkins</h2>
                <p class="mt-4 text-gray-600 text-lg">Doug Wilkins is a licensed journeyman electrician with more than 27 years of experience. As a proud member of IBEW 725, Doug has worked on a wide range of electrical projects, from residential repairs to hanging holiday lights on the Vigo County Courthouse. No matter the challenge, Doug knows how to find the right solution.
<br/>
                    At Quality Electric of Indiana LLC, customer service is a priority, and Doug goes above and beyond to provide 24/7 emergency service—because electrical issues don’t wait, and neither should you.
                    <br/>
                    Beyond his work, Doug is a devoted family man who believes in making every moment count. "Enjoy every moment with your family, because you never know when it's going to be the last." When he's not keeping homes and businesses powered, you'll find him fishing, playing softball, or spending time with his wife, four children, grandbabies, and a farm full of animals—including 3 dogs, 2 goats, and 27 chickens.
                    <br/>
                    Need expert electrical service from someone who truly cares? Doug is ready to help—day or night.</p>
                <div class="mt-8">
                    <a href="/about" class="text-amber-500 hover:text-amber-600 font-medium">Learn More
                        <span class="ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="mt-12 md:mt-0">
                <figure>
                <Image src={dougImage} loading="lazy" alt="Doug Wilkins, Journeyman Wireman/Manager" class="object-cover rounded-lg shadow-md"/>
            <figcaption class="pt-4 text-slate-500">Doug Wilkins, Journeyman Wireman/Manager</figcaption>
        </figure>
    </div>
        </div>
    </div>
</section>
