---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource/belleza";
import "@fontsource/quattrocento";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.png",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Quality Electric of Indiana LLC"
  : "Quality Electricians In Terre Haute | Quality Electric of Indiana LLC";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/qualicon.png" />
    <link rel="icon" sizes="any" href="/qualicon.ico" />
    <link rel="apple-touch-icon" href="/qualicon.png" />

  <meta name="description" content="Looking for a licensed, bonded, and insured electrician near Terre Haute? Quality Electric of Indiana offers 24/7 residential electrical services, rewires, panel upgrades, new construction wiring, generator installs, and more. Trusted electrical contractors serving the Wabash Valley since 2022. Call your local electrician today!" />

    <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Quality Electric of Indiana LLC - Your Terre Haute Electrician" />
<meta name="twitter:description" content="Powered by Quality, Built on Trust. Serving the Wabash Valley since 2022..." />
<meta name="twitter:image" content="/opengraph.png" />

    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" as="image" href="/assets/Dec rough-in.webp" type="image/webp" />
<!-- Goatcounterrrrr! -->
<script>
  // Only load on production environment.
  if (window.location.hostname === "localhost") {
  window.goatcounter = { no_onload: true };
}
</script>
<script data-goatcounter="https://quality-electric.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    
    <SEO
      title={makeTitle}
      description="Powered by Quality, Built on Trust. Whether you need an electrical contractor for a resident rewire or a whole new home, we've got you! Rewires, new construction, residential, exterior, survice upgrades, and generator installation in Terre Haute and the surrounding area. Available 24/7 for emergency electrical services. Searching for 'electricians near me' and don't know who to choose, choose Quality - we'll get the job done right!"
      canonical={canonicalURL}
      
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Quality Electric of Indiana LLC - Trusted Electricians Near You in Terre`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Quality Electric of Indiana LLC Homepage Screenshot",
        },
      }}
    />
<meta property="instagram:site" content="@qualityelectric.indiana" />
<meta property="tiktok:site" content="@quality.electric.indiana" />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility:auto;
      }
    </style>
  </body>
</html>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Electrician",
  "name": "Quality Electric of Indiana LLC",
  "image": "https://qualityelectricofindiana.com/opengraph.png",
  "url": "https://qualityelectricofindiana.com",
  "telephone": "+1-812-872-8376",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "3601 N. Fruitridge Avenue",
    "addressLocality": "Terre Haute",
    "addressRegion": "IN",
    "postalCode": "47805",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 39.506925608773116,
    "longitude": -87.35911085725314,
  },
  "sameAs": [
    "https://www.facebook.com/quality.electric.indiana/",
    "https://www.instagram.com/qualityelectricof",
    "https://www.tiktok.com/@quality.electric.indiana"
  ]
}
</script>