---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';
import "@fontsource/belleza";
import "@fontsource/quattrocento";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Quality Electric of Indiana LLC"
  : "Astroship - Starter Template for Astro with Tailwind CSS";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/qualicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Quality Electric of Indiana LLC is your Terre Haute electrician of choice, providing standards-setting residential & commercial electrical services in Terre Haute and around the Wabash Valley since 2022."
      canonical={canonicalURL}
      
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Quality Electric of Indiana LLC - Your Terre Haute Electrician`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Quality Electric of Indiana LLC Homepage Screenshot",
        },
      }}
    />
<meta property="instagram:site" content="@qualityelectric.indiana" />
<meta property="tiktok:site" content="@quality.electric.indiana" />
  </head>
  <body>
    <script data-goatcounter="https://quality-electric.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility:auto;
      }
    </style>
  </body>
</html>
