---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource/belleza";
import "@fontsource/quattrocento";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.png",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Quality Electric of Indiana LLC"
  : "Quality Electricians In Terre Haute | Quality Electric of Indiana LLC";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/qualicon.png" />
    <link rel="icon" sizes="any" href="/qualicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" as="image" href="/assets/Dec rough-in.webp" type="image/webp" />
<!-- Goatcounterrrrr! -->
<script>
  // Only load on production environment.
  if (window.location.hostname === "localhost") {
  window.goatcounter = { no_onload: true };
}
</script>
<script data-goatcounter="https://quality-electric.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    
    <SEO
      title={makeTitle}
      description="Powered by Quality, Built on Trust. Serving the Wabash Valley since 2022, Quality Electric of Indiana LLC brings nearly 60 years of combined experience to rewires, new construction rough-ins, exterior installations, survice upgrades, and generator installation in Terre Haute and the surrounding area. Available 24/7 for emergency electrical services. Contact us today and find out why our longtime clients refuse to settle for anything less than Quality."
      canonical={canonicalURL}
      
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Quality Electric of Indiana LLC - Your Terre Haute Electrician`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Quality Electric of Indiana LLC Homepage Screenshot",
        },
      }}
    />
<meta property="instagram:site" content="@qualityelectric.indiana" />
<meta property="tiktok:site" content="@quality.electric.indiana" />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility:auto;
      }
    </style>
  </body>
</html>
